
<h2>Reviews</h2>
<form action="/submit" method="POST">
  <input name="topic" placeholder="topic (e.g. 'Information Theory')">
  <input name="winner" placeholder="winner (e.g. OL123W)">
  <input name="candidates" placeholder="candidates CSV (e.g. OL123W, OL234)">
  <input name="description" placeholder="description">
  <input name="source" placeholder="source">
  <input type="submit">
</form>


{% set reviews = models['reviews'].all() -%}
<ul>
  {% for rev in reviews %}
    <li style="font-size: .8em">{{ rev }}</li>
  {% endfor %}
</ul>
