<h2>Recommendations Pending Approval:</h2>
{% set recommendations = models['recommendations'].get_all(is_approved=False) %}

{% for recommendation in recommendations %}
{% set book = models['books'].get(recommendation['book_id']) %}
{% set topic = models['topics'].get(recommendation['topic_id']) %}
{% set book_details = fetch_work(book['work_olid']) %}

<div class="approval-item">
    <div class="approval-item-data">
        <p><span class="bold">Title:</span> <a href="{{ book_details['link'] }}" target="_blank">{{ book_details['title'] }}</a></p>
        <p><span class="bold">Topic:</span> {{ topic['name'] }}</p>
        <p><span class="bold">Description:</span> {{ recommendation['description'] }}</p>
        <p><span class="bold">Username:</span> {{ recommendation['username'] }}</p>
    </div>
    <div class="approval-item-buttons">
        <button class="btn btn-success">Accept</button>
        <button class="btn btn-danger">Reject</button>
        <!-- <button class="btn btn-primary">Request Clarification</button> -->
    </div>
</div>
<hr>
{% endfor %}