<form action="/ask" method="post">
  <div class="block">
    <div class="step step--1">
      <h2>1. ⚖️ What is "<span class="bbo">The Best Book On</span>"</h2>
      <div class="topic ui-widget">
        <input type="text" placeholder="Physics..."
	       class="book-topic-selector"
	       name="topic">
      </div>
    </div>

    <div class="step step--2">
      <div class="picker">
        <h2>2. 📏  Based on these Criteria</h2>
        <div>
          <table class="rules">
            <tr>
              <td><span title="Domain familarity: Is this a new field for you?">Experience</span></td>
              <td>
	       <select name="experience">
                  <option>👶 I'm new to this topic, where do I start?</option>
                  <option>👵 I'm familiar with the topic, skip the intros.</option>
                </select>
	      </td>
            </tr>
            <tr>
              <td><span title="Who is the intended audience or what reading level do you prefer?">For</span></td>
              <td>
                <select name="intended_audience">
                  <option value="1">🖍️ Kids &amp; young adults</option>
                  <option value="2">🖩 High school students</option>
                  <option value="3" selected>🙋 Everyone</option>
                  <option value="4">🎓 College students</option>
                  <option value="5">🔬 Graduate researchers</option>
                  <option value="6">🍎 Professor / Domain expert</option>
                </select>
              </td>
            </tr>
            <tr>
              <td><span title="How much material is covered?">Scope</span></td>
              <td>
                <select name="scope">
                  <option value="">🔭 Wide &amp; Comprehensive  overview(Breadth)</option>
                  <option value="">🔬 Narrow &amp; Focused (Depth)</option>
                </select>
              </td>
            </tr>
            <tr>
              <td><span title="What do you intend to use this book for?">Goal</span></td>
              <td>
                <select goal="">
                  <option value="">😊 Enjoyment: Casual reading, insight, &amp; forming understanding</option>
                  <option value="">✏️ Learning: Structured curriculum, problem sets, &amp; explanations</option>
                  <option value="">🔧 Reference: Dense, efficient, pragmatic, navigable &amp; actionable</option>
                  <option value="">📑 Research: Deep understanding, technical, theoretical, frontier</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>Length</td>
              <td>
                <select name="length">
                  <option value="">📘 Any length</option>
                  <option value="">📜 Short (up to 150 pages)</option>
                  <option value="">📚 Medium (up to 350 pages)</option>
                </select>
              </td>
            </tr>
            <tr>
              <td></td>
              <td><input type="text" placeholder="Other requirements? Topics?"></td>
            </tr>
          </table>

          <!--
          <tr>
            <td></td>
            <td>
              <select>
                <option value=""></option>
                <option value=""></option>
              </select>
            </td>
          </tr>

          Score Card
          - Originality: Standard v. Novel
          - Accuracy: ...
          - Relevance: Out of date?
          - Dry v. Entertaining
          - Clarity
          - Brevity
          - Insightful

        <li>Medium Length</li>
        <li>Medium Technicality</li>
        <li>Exciting</li>
        <li>Wide Coverage</li>
        -->

        </div>
      </div>
    </div>

    <div class="step step--3">
      <div class="picker">
        <h2>3. 📚    Books I'm considering... <span class="optional">(Optional)</span></h2>
        <div class="ui-widget">
          <label for="book-selector"></label>
          <input type="text" class="book-selector" placeholder="Find by title, isbn...">
        </div>
      </div>
    </div>
  </div>
  <div class="cta">
    <span class="cta-btn">
      <!-- onclick="alert('This is a demo');" -->
      <button type="submit">Submit Request</button>
    </span>
  </div>
</form>
