
<form>
  <div class="block">
    <div class="step step--1">
      <div class="picker">
        <h2>1. ⚖️ I'm looking for</h2>
        The Best Book On <input type="text"  placeholder="goblins..." style="max-width: 250px"> which <select>
          <option>is better than...</option>
          <option>is the best out of...</option>
        </select>
      </div>
      <div class="display">
      </div>
    </div>
    
    <div class="step step--2">
      <div class="picker">
        <h2>2. 📚 These Book(s)</h2>
        <div class="ui-widget">
          <label for="tags"></label>
          <input type="text" id="tags" placeholder="Search by title, author, or isbn">
        </div>
      </div>
      <div class="display">
        <!--
            <div class="book-placeholder"></div>
            -->
      </div>
    </div>

    <div class="step step--3">
      <div class="picker">
        <h2>3. 📏  Criteria</h2>
        <p>The winning recommendation should be...</p>
        <div style="margin-bottom: 30px;">
          <!--
          <div>
            <label class="switch">
              <input type="checkbox">
              <span class="slider round"></span>
            </label>
            Entertaining
          </div>

          <div>
            <label class="switch">
              <input type="checkbox">
              <span class="slider round"></span>
            </label>
            Entertaining
          </div>

          Difficulty: Easy v. Hard
          How much prior knowledge is required?

          

          Originality: Standard v. Novel

          Accuracy:  v. Rigor

          Audience: General v. Expert
          
          Relevance: Out of date?

          Density: 

          Clarity: 

          Scope: Narrow v. Wide

          Technical: Jargon Heavy
          
          Scope: Breadth v. Depth

          Insight:

          Explanations:


        <li>Accuracy</li>
        <li>Medium Length</li>
        <li>Medium Technicality</li>
        <li>Exciting</li>
        <li>Wide Coverage</li>
        -->

          <div class="opt"><input type="checkbox"> Faster Paced</div>
          <div class="opt"><input type="checkbox"> More entertaining</div>
          <div class="opt"><input type="checkbox"> Easier to understand</div>
        </div>
        <input type="text" placeholder="Also must...">
      </div>
    </div>
  </div>
  <div class="cta">      
    <span class="cta-btn">
      <button type="submit">Submit Request</button>
    </span>
  </div>
</form>


