
{% set votes = models["votes"].get_batch(models["votes"], revs, username=session.get("username")) %}

{% if request.args.get('debug') %}
  {{ votes }}
{% endif %}

{% for rev in revs %}
<div class="block-rec">
  <div class="recommendation">
    {% set winner = revs.works[rev.winner_work_olid] if rev.winner_work_olid in revs.works else {} %}
    <div class="recommendation--upvote">
      {% set my_vote = votes.get('user', {}).get(rev.id) %}
      <form method="POST" action="/api/recommendations/{{rev.id}}/votes">
        <input type="hidden" name="value" value="true">
        <input type="submit" value="&#9652;" class="nostyle {{ 'selected' if my_vote == 1 else '' }}"/>
      </form>
      <p class="upvotes">{{ votes['totals'].get(rev.id, {}).get('score', 0) }}</p>
      <form method="POST" action="/api/recommendations/{{rev.id}}/votes">
        <input type="hidden" name="value" value="false">
        <input type="submit" value="&#9662;" class="nostyle {{ 'selected' if my_vote == -1 else '' }}"/>
      </form>
    </div>
    <div class="recommendation--container">
      <div class="recommendation--title">
        <p>according to <a href="https://openlibrary.org/people/{{ rev.submitter }}">{{rev.submitter}}</a> on {{rev.created.strftime('%Y-%m-%d')}}</p>
        <h3>
          The best book on <strong>{{ rev.topic.name }}</strong> is:
        </h3>
      </div>
      <div class="recommendation--body">
        <div class="recommendation--winner">
          <div>
            <a title="{{winner.title}}" href="https://openlibrary.org/works/{{rev.winner_work_olid}}">
              <img class="bookcover"
                {# TODO: Fix this once Books have been replaced w/ new model #}
                {% if revs.works|length > 0 and winner.get('cover_i') %}
                  src="https://covers.openlibrary.org/b/id/{{winner.get('cover_i')}}-M.jpg"
                {% endif %}
              >
            </a>
            {% if winner.get('availability') %}
            <div>
              {% set availability = winner.get('availability') %}
              <a href="https://openlibrary.org/borrow/ia/{{availability.get('identifier')}}?ref=tbbo&q=" target="_blank"
                 class="cta-btn--read">{{ {"error": "Preview", "open": "Read", "borrow_available": "Borrow"}.get(availability.get('status'), 'Preview') }}</a>
            </div>
            {% endif %}
          </div>
          <div class="recommendation--winner--details">
            <h4>
              <a href="https://openlibrary.org/works/{{rev.winner_work_olid}}">
                {{ winner.get('title') }}
              </a>
            </h4>

            <p>
              {% if winner.get('author_name') and winner.get('author_key') %}
                {% set author_key = winner['author_key'][0] %}
                {% set author_name = winner['author_name'][0] %}
                by <a href="https://openlibrary.org/authors/{{author_key}}">{{ author_name }}</a>
              {% endif %}
            </p>

            <p class="review">{{ rev.review }}</p>
          </div>
        </div>

        <div class="recommendation--context">
          <h3>Contenders:</h3>
          <ul class="recommendation--candidates">
          {% for candidate in rev.nodes %}
            {% set candidate_work = revs.works[candidate.contender_work_olid] if revs.works.get(candidate.contender_work_olid) else {}%}
            <li class="recommendation--candidate">
              <div>
                <a href="https://openlibrary.org{{candidate_work.key}}">
                  <img class="bookcover--thumbnail" src="https://covers.openlibrary.org/b/id/{{candidate_work.cover_i}}-M.jpg"/>
                </a>
                {% if candidate_work.get('availability') %}
                  <div>
                    {% set ca = candidate_work.get('availability') %}
                    <a href="https://openlibrary.org/borrow/ia/{{ca.get('identifier')}}?ref=tbbo&q=" target="_blank"
                       class="cta-btn--read">{{ {"error": "Preview", "open": "Read", "borrow_available": "Borrow"}.get(ca.get('status'), 'Preview') }}</a>
                  </div>
                {% endif %}
                <div>
                  <a href="https://openlibrary.org{{candidate_work.key}}">{{ candidate_work.title }}</a>
                  {% if candidate_work.get('author_name') %}
                    <p>by <a href="https://openlibrary.org/authors/{{ candidate_work['author_key'][0] }}">{{ candidate_work['author_name'][0] }}</a></p>
                  {% endif %}
                </div>
              </div>
            </li>
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
