
<form id="recommendations-form" name="recommendations-form" method="POST" action="/submit">
  <div class="block">
    <div class="step step--1">
      <div class="picker">
        <h2>
	  1. ⚖️ "<span class="bbo">The Best Book On</span>"
	  <span class="ui-widget">
            <input id="topic" type="text" name="topic" placeholder="Physics..."
		   class="book-topic-selector" style="max-width: 250px;" required>
	  </span> is...
	</h2>
        <span class="ui-widget">
          <label for="book-winner-selector"></label>
          <input id="winner" type="text" name="winner" class="book-winner-selector"
		 placeholder="Choose winning book by title, author, or isbn" required>
        </span>
      </div>
    </div>

    <div class="step step--2">
      <div class="picker">
        <h2>2. 📚 I know because I've also read:</h2>
	<span class="ui-widget">
          <input id="candidate1" type="text" name="candidate1" class="book-candidate-selector1" placeholder="this book..." required>
	</span> and <span class="ui-widget">
          <input id="candidate2" type="text" name="candidate2" class="book-candidate-selector2" placeholder="this book..." required>
	</span>
      </div>
      <p>In order to ensure each recommendation is rigorous, we require reviewers to have read at least two other books on the same topic.</p>
    </div>

    <div class="step step--3">
      <div class="picker">
        <h2>3. 📏  Review:</h2>
        <textarea type="text" name="description" placeholder="The winner was chosen because..." style="width: 100%"></textarea>
      </div>
    </div>
  </div>
  <div class="cta">
    <span class="cta-btn">
      <button type="submit">Submit Request</button>
    </span>
  </div>
</form>


